command:
- /bin/bash
- -c
- gst-launch-1.0 -e -v udpsrc buffer-size=21299100 port=5678 ! application/x-rtp, media=video, encoding-name=H264, clock-rate=90000, payload=96 ! udpsink host={{index .ips 0}} port={{(index .ports 0).port}} buffer-size=2048 sync=false
